@model Pancake.Controllers.PancakeEntity

<h2>Search stuff</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Get your data here:</legend>
        <div class="editor-field">
            <input id="Data" name="ClientData" type="text" value="" />
        </div>

        <input type="submit" value="Search" formmethod="post"/>
    </fieldset>
}

@if (ViewBag.Message != null)
{
    <h4>@ViewBag.Message</h4>
}